@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

body{
	position:absolute;
	width:100%;
	height:100%;
	text-align:center;
	background:#ccf;
}

#can{
	position:relative;
	top:20%;
	border:1px solid black;
}
